      html, body {
        min-height: 100% !important;
        height: 100%;
      }
      #map {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      a, a:hover {color: inherit;}

      .center {text-align: center;}
      a .bi {font-size: 1.5em;}

      img.success { filter: hue-rotate(270deg); }
      img.fail { filter: hue-rotate(120deg); }

      .center-screen {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 10000;
      }
      
      .bottom-right-screen {
        position: absolute;
        top: 125px;
        left: 99%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 10000;
      }
      #exampleModalLong { z-index: 10001; }
      
      .updateFQ {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: small;
        
        z-index: 10000;
      }
